body {
    font-family: 'Montserrat', sans-serif;
}

/*-----Header-----*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    background-color: #d0c5c5;
    z-index: 100;
}

.header-nav input {
    display: none;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    position: relative;
}

.nav-item {
    transition: 0.4s linear;
}

.nav-link {
    display: block;
    padding: 13px 30px;
}

.nav-item-drop-down:hover {
    background-color: orange;
}

.nav-item:hover {
    background-color: orange;
    transition: 0.4s linear;
}

.nav-item:hover .nav-link {
    color: #fff;
    transition: 0.4s linear;
}

.nav-item-drop-down:hover .nav-link {
    color: #fff;
    transition: 0.4s linear;
}

.nav-item-drop-down:hover .sub-nav-list {
    display: block;
}

.nav-link {
    position: relative;
    text-decoration: none;
    letter-spacing: 1px;
    color: #212121;
}

/*-----Sub Menu-----*/

.nav-item-drop-down {
    transition: 0.4s linear;
}

.sub-nav-list {
    position: absolute;
    top: 44.4px;
    left: 104px;
    
    transition: 0.4s linear;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    transition: 0.4s linear;

    display: none;
}

.sub-nav-item {
    padding: 13px 30px;
    cursor: pointer;
    transition: 0.4s linear;
    background-color: #fff;
    width: 195px;
    transition: 0.4s linear;
}

.sub-nav-item:hover {
    background-color: orange;
}

.sub-nav-item:hover .sub-nav-link {
    color: #fff;
}

.sub-nav-link {
    text-decoration: none;
    letter-spacing: 1px;
    color: #212121;
}

.sub-sub-nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.triangle {
    height: 0;
    width: 0;
    border-left: 14px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;

    display: none;
}

.sub-sub-nav-list:hover .triangle {
    display: block;

    border-left: 14px solid orange;
}

/*------------------*/
/*------------------*/

/*-----Footer-----*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272525;
    height: 50px;
}

.footer-logo {
    color: #fff;
    margin-left: 30px;
}

.footer-logo-text {
    font-weight: 500;
    font-size: 19px;
    position: relative;
    bottom: 8px;
}

.nav-list-footer {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.nav-item-footer {
    cursor: pointer;
    color: #fff;
    margin-right: 50px;
}

.nav-item-footer a img {
    height: 24px;
    width: 24px;
}

/*----------------*/